<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0%;
            margin: 0%;
            font-family: 'Poppins', sans-serif;
            word-wrap: break-word;
        }

        body {
            padding: 15px;
        }

        p i {
            background: #ffffff;
            /* padding: 6px; */
            /* border-radius: 50%; */
            color: #eb6300;
            font-size: 14px;
            margin: 5px 0px;
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <img src="https://infograinsbackend.in/static/assets/images/logo.png" alt="Infograins" width="200">
    <hr style="margin: 20px 0px;">
    <h4>Hey {{Name}},</h4>
    <h3>Thanks for the enquiry we have received it,</h3>
    <p style="font-weight:600;">My name is Kapil, I'm here to welcoming you on behalf of Infosense.</p>
    <p style="font-weight:600;">Looking forward to continue our discussion.</p>
    <p style="font-weight:600;">Best Regards,</p>
    <p style="font-weight:600;">Kapil</p>
    <p><a target="_blank" style="color: #2c32ee" href="https://infograins.com">www.infograins.com</a></p>
    <p><a target="_blank" style="color: #2c32ee" href="https://www.linkedin.com/in/vipin-shukla-55b8b560/">https://www.linkedin.com/in/vipin-shukla-55b8b560/</a></p>
   
</body>
</html>